.achivementsContainer{
    display: flex;
    flex-direction: column;

   align-items: center;
    padding-top: 60px;
    padding-left: 20px;
}

.achivementsRow{
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    gap: 20px;
    flex-wrap: wrap; 
    justify-content: flex-start;

    transition: all 0.3s ease;
}

@media (max-width: 1000px) {
    .achivementsContainer {
        padding-left: 0px;
    }
}

@media (max-width: 800px) {
    .achivementsContainer {
        flex-direction: column;

    }
    .achivementsRow {
        flex-direction: column;
        width: 500px;
    }
}

@media (max-width: 660px) {
    .achivementsRow {
        justify-content: center;
    }
    .achivementsRow {
        flex-direction: column;
        width: 350px;
    }
}
