.achivementContainer{
    width: auto;
    padding-right: 10px;
    height: 50px;
    background-color: #4444444f;
    border: rgba(49, 49, 49, 0.685) solid 1px;

    border-radius: 20px;

    display: flex;
    flex-direction: row;

    align-items: center;
    color: white;
    font-size: 18px;
    font-family: Segoe UI, Inter, Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    gap: 5px;

    transition: all 0.5s ease-in-out;
}

.achivementContainer label {
    font-size: 20px; 
}

.achivementDiv label {
    font-size: 20px; 
}

.achivementDiv{
    width: 80px;
    height: 50px;
    background-color: #ffffff;
    border-radius: 20px;

    display: flex;
    align-items: center;
    justify-content: center;

    color: black;
    font-size: 16px;
}

@media (max-width: 800px) {
    .achivementContainer {
        justify-content: space-between;
    }

    .achivementContainer:hover {
        transform: scale(1.05);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
}