.avatarContainer{
    width: 20vw; 
    max-width: 300px;
    aspect-ratio: 1 / 1; 
    background-color: rgb(0, 0, 0);

    min-width: 100px;

    border-radius: 50%;

    border: 6px solid rgb(0, 0, 0);
    box-shadow: 0 0 200px rgba(0, 0, 0, 0.2);

    animation: float 5s ease-in-out infinite;
    transition: all 0.3s ease;
}

@keyframes float {
    0%   { transform: translateY(0px); }
    50%  { transform: translateY(-20px); } 
    100% { transform: translateY(0px); }
}

#image{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    display: block; 
}

@media (max-width: 660px) {
    .avatarContainer {
        width: 200px;
        height: 200px;
    }
}