.cardContainer{
    width: 389px;
    height: 232px;
    background: rgba(23, 23, 23, 0.512);
    backdrop-filter: blur(10px);

    border-radius: 20px;

     border-left: 1px solid rgba(21, 21, 21, 0.15);
    border-top: 1px solid rgba(21, 21, 21, 0.15);
    border-right: 1px solid rgba(0, 0, 0, 0.25);
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);

    color: white;
    padding: 20px;;

    transition: transform 0.2s ease, background 0.3s ease;
    perspective: 1000px;

    transform: translateZ(0);

   box-shadow: 
        inset -1px -1px 2px rgba(255,255,255,0.08),
        inset 2px 2px 6px rgba(0,0,0,0.2),
        0 12px 30px rgba(0,0,0,0.25),
        0 8px 20px rgba(0,0,0,0.15);              
      
}

.cardContainer:hover {
  transform: translateY(-10px);
  transform: translateZ(0);
  box-shadow: 
        inset -1px -1px 3px rgba(255,255,255,0.1),
        inset 2px 2px 8px rgba(0,0,0,0.25),
        0 14px 35px rgba(0,0,0,0.28),
        0 10px 25px rgba(0,0,0,0.18);
}

.cardDiv{
    padding-top: 20px;
}

.cardDiv img {
  filter: grayscale(100%);
}


label{
    font-size: 32px;
    font-family: Segoe UI, Inter, Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

@media (max-width: 1000px) {
    .cardContainer {
        width: 90%;
        height: auto;
    }
}