.linksContainer{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 400px;
    gap: 30px;
}

.lbl{
    padding-bottom: 5px;
}

.button{
    width: 231px;
    height: 80px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 26px;
    font-family: "Segoe UI", Inter, Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;

    transform: translateZ(0);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    transition: all 0.3s ease;
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.5);
}

.button:hover{
    box-shadow: 0 0 20px 10px rgba(255, 255, 255, 0.5);
}

@media (max-width: 1250px) {
    .button {
        width: 200px; 
        height: 60px;
    }
}

@media (max-width: 1000px) {
    .button {
        width: 150px; 
        height: 60px;
        font-size: 22px;
    }

    .lbl{
        font-size: 20px;
    }

    .imgBut{
        width: 30px !important;
        height: 30px !important;
    }
}

@media (max-width: 660px) {
   .linksContainer{
        width: 150px;
   }
}

a{
    text-decoration: none;
    color: white;
}