html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;

  background-color: #171717;
  color: #fff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}

:root {
  color-scheme: dark;
}
