.imageContainer{
    width: 700px;
    height: 400px;
    
}

.imageContainer img{
    width: 100%;
    height: auto;

    border-radius: 12px;
    border: 2px solid var(--border-color, rgba(255, 255, 255, 0.555));;
    box-shadow: 0 0 200px var(--shadow-color, rgba(255, 255, 255, 0.2));;

    animation: float1 5s ease-in-out infinite;
    transition: all 0.3s ease;
}

@keyframes float1 {
    0%   { transform: translateY(0px); box-shadow: 0 0 200px var(--shadow-color, rgba(255, 255, 255, 0.2));}
    50%  { transform: translateY(-20px); box-shadow: 0 0 500px var(--shadow-color, rgba(255, 255, 255, 0.3));} 
    100% { transform: translateY(0px); box-shadow: 0 0 200px var(--shadow-color, rgba(255, 255, 255, 0.2));}
}

.presentationContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    opacity: 0;
    transform: translateY(20px);
    animation: fadeIn 2s forwards;

    transition: all 0.3s ease;
}

.presentationContent {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeIn 2s forwards;
}

.dataContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-top: 30px;
}

.titlelbl{
    font-size: 50px;
    font-weight: bold;
}


@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 1000px) {
    .imageContainer{
        width: auto;
    }

    .imageContainer img {
        width: 400px;
    }

    .titlelbl{
        font-size: 40px;
    }

    .subtitlelbl{
        font-size: 24px;
    }

    .imageContainer{
        height: 230px;
    }
}